.videos_wrapper h3{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 20px;
    color: #343434;
}


.videoListItem_wrapper{
    display:flex;
    border-bottom: 2px solid #d5d5d5;
    background: #78b4f0;
   
}
.videoListItem_wrapper a{
    text-decoration: none;
}


.videoListItem_wrapper h2 {
    font-size: 13px;
    color: #525252;
}

.left {
    background-size: cover !important;
    
}

.left div {
    width: 90px;
    height: 90px;
    background-size: 40px !important;
    background-repeat: no-repeat;
    background-position: center center !important;
    background: url('/images/videos/play.png'); 
   

}

.right{
    padding: 10px;
}